@import '_normalize';

html {
	font-size: 36px;
}

body {
	font-size: 36px;
	font-weight: 400;
	line-height: 1;
	color: #333;
}

.checkbox {
	display: inline-block;
	padding: 40px 66px;
	margin: 20px;

	border: 3px solid #333;
	border-radius: 10px;

	position: relative;

	&::before {
		content: 'Checkbox';
		display: inline-block;
		padding: 0 10px;

		font-size: 24px;

		background-color: #fff;

		position: absolute;
		top: -0.5em;
		left: 20px;
		
	}

	&__item {}
}



.radio {

	&__item {}

	&__label {}

	&__input {}
}
